node-red/flow-wifi-sniffer.json
[{"id":"mqtt_ttn","type":"mqtt in","z":"flow1","name":"TTN","topic":"v3/project1-sniffer@ttn/devices/esp32-lora-sniffer/up","qos":"0","datatype":"json","broker":"broker_ttn","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":100,"wires":[["decode"]]},{"id":"decode","type":"function","z":"flow1","name":"Decode","func":"const b64 = msg.payload.uplink_message.frm_payload;\nconst buf = Buffer.from(b64, 'base64');\n\nif(buf.length !== 21) return null;\n\nconst aps = [];\nfor(let i=0; i<3; i++) {\n    const o = i*7;\n    const mac = [];\n    for(let j=0; j<6; j++) {\n        mac.push(buf[o+j].toString(16).padStart(2,'0').toUpperCase());\n    }\n    let rssi = buf[o+6];\n    if(rssi > 127) rssi -= 256;\n    \n    const macStr = mac.join(':');\n    if(macStr !== '00:00:00:00:00:00') {\n        aps.push({mac: macStr, rssi: rssi});\n    }\n}\n\nmsg.payload = {\n    timestamp: msg.payload.received_at,\n    aps: aps\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":100,"wires":[["debug_out","csv"]]},{"id":"debug_out","type":"debug","z":"flow1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":80,"wires":[]},{"id":"csv","type":"function","z":"flow1","name":"CSV","func":"let csv = '';\nfor(const ap of msg.payload.aps) {\n    csv += `${msg.payload.timestamp},${ap.mac},${ap.rssi}\\n`;\n}\nmsg.payload = csv;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":120,"wires":[["file"]]},{"id":"file","type":"file","z":"flow1","name":"","filename":"/tmp/wifi.csv","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":550,"y":120,"wires":[[]]},{"id":"broker_ttn","type":"mqtt-broker","name":"TTN","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"","credentials":{"user":"project1-sniffer@ttn","password":"NNSXS.SM63XSMYHC6FTQ3IFZJPSFB3W4TMP5SWLOFXGVQ.BRK5RNYCJGS2QBV46SMYPZNGMZVZBUZWCZSQS2MPRRI2SFUXAPQA"}},{"id":"flow1","type":"tab","label":"WiFi Sniffer","disabled":false,"info":""}]